.container{
background-color: cyan;
border: 20px ridge violet;
border-radius: 50%;
width: 400px;
padding: 30px ;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
display: inline-block

}

.lorem{
    color:palevioletred;
    font-weight: 900;

}

